.scoreView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    width: 90%;
    height: 100px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.scoreView-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.scoreView-text {
    font-size: 20px;
    margin-left: 20px;
}