body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.reloj1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    color: aliceblue;
    justify-content: center;
    background: #000;
    width: 80;
}